.Spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: 20px;
}

.Title-container{
margin-left: 30px;

}

.MS-title{
    color: goldenrod;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgb(7, 23, 22);
}

.Create-btn{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

.Create-btn-text{
    text-decoration: none;
    color: white;

}

.Nav-container {
    width: 100%;
    background-color: goldenrod;
    color: white;
    transition: box-shadow 0.3s ease;
    border-radius: 9px;
}

.MG-Nav-container{
   text-decoration: none;

}

.Spot-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.Review-location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
}



.price {
    padding-left: 5px;
    font-weight: bold;
}

.image {
    width: 100%;
    height: 250px;
}

.MG-Btn-container{
    padding-top: 10px;

}

.Nav-container,
.Spot-container {
    text-decoration: none;
}

.Update-btn {
    text-align: center;
    padding: 6px;
    padding-bottom: 9px;
    border-radius: 5px;
    background-color: rgba(156, 156, 156, 0.6);
    color: white;
    margin-right: 4px;
    text-decoration: none;
}

.Update-btn:hover {
    background-color: #e0e0e0;
    box-shadow: 0 0 1rem goldenrod;
    cursor: pointer;
    color: black;
}
