.spots-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}


.Nav-container {
    width: 100%;
    border: 1px solid rgba(128, 128, 128, 0.5);
}

.Nav-container:hover {
    box-shadow: 0 0 3rem goldenrod;
}

.Spot-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    background-color: rgba(99, 99, 99, 0.5);
    color: white;
    transition: box-shadow 0.3s ease;
    border-radius: 9px;
}

.Review-location-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* color: goldenrod; */
    padding-top: 10px;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-right: 5px;
    text-shadow: 2px 2px 4px black;
}


.price {
    padding-left: 5px;
    font-weight: bold;
    color: black;
}

.image {
    width: 100%;
    height: 250px;
}


.Nav-container,
.Spot-container {
    text-decoration: none;
}
