.Navigation-Header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LandingPageLogo{
    width: 200px;
    margin-left:30px;
}

.R-Navigation-Header{
    display:flex;
    gap:30px;
    margin-right:50px;
    align-items: center;
}

.create {
    color: goldenrod;
    text-decoration: none;
    font-size: 1.2em;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5)
  }
